.homepage
  padding-bottom 60px

  @import './topic-card/styles'

  .homepage-cover
    margin-bottom 30px
    padding 80px 10px 70px
    color #444
    text-align center
    font-size 1.2em
    background-size cover
    background-color #f9f9f9
    background-position center center

    h1
      margin 0 0 .2em

    p
      margin 0

  .topics-container
    display flex
    flex-wrap wrap
    justify-content center
